
.vs/KocBank/FileContentIndex/FileContentIndex.rar
*.vsidx
*.vsidx
.vs/KocBank/FileContentIndex/c4955c99-45cc-46d2-8e8a-f4b17cf56a0c.vsidx
.vs/KocBank/FileContentIndex/9cfd13bc-2993-4977-8c2c-41a4a2b08cdb.vsidx
.vs/KocBank/FileContentIndex/426f44c7-54b7-45c8-acd3-50fefbaa8219.vsidx
.vs/KocBank/FileContentIndex/014e9025-17cf-4f5a-9ed5-b39889a528ab.vsidx
*.vsidx
